In [11]:
import pandas as pd
xls = pd.ExcelFile('2019_Final_UG_Accepted.xlsx')


pd.set_option('display.max_rows', 50)

df1 = pd.read_excel(xls, 'ALL RESULTS_withREcs')
df2 = df1[['Pers Primary First Name', 'Pers Primary Last Name', 'HS GPA','EVAL SCORE', 'High School']]
df2

,Pers Primary First Name,Pers Primary Last Name,HS GPA,EVAL SCORE,High School
0,Diego,Brijaldo,APP,73.33,Bassick High School
1,Julia,Dibenedetto,3.834,75.00,Metuchen High School
2,Mostafa,Ebrahim,3.778,70.00,Fairfield Warde High School
3,Kerry,Harper,3.8,73.33,Henry Hudson Regional School
4,Jeho,Lee,3.12,85.00,Masuk High School
...,...,...,...,...,...
107,Helen,Portillo Carias,4,76.67,J. M. Wright Technical High Sc
108,Joshua,Pickel,2.86,90.00,Harvey School
109,Trinity,Caban,3.6,70.00,Wilbur L Cross High School
110,Hannah,Lee,3.12,75.00,Fairfield Ludlowe HS
111,Dean,Corelli,NaN,72.00,Byram Hills High School