In [3]:
import pandas as pd
xls = pd.ExcelFile('Raw/drive-download-20220302T205846Z-001/Class List - Master fall 16.xlsx')
# xls1 = pd.ExcelFile('drive-download-20220302T205921Z-001/2020 DMD 1001 pre-class Assessment Survey (Responses).xlsx')
# xls2 = pd.ExcelFile('drive-download-20220302T205921Z-001/2019 DMD 1000 pre-class Assessment Survey (Responses).xlsx')
# xls3 = pd.ExcelFile('drive-download-20220302T205921Z-001/2018 DMD 1000 pre-class Assessment Survey (Responses).xlsx')
# xls4 = pd.ExcelFile('drive-download-20220302T205921Z-001/2017 DMD 1000 pre-class Assessment Survey (Responses).xlsx')
# xls5 = pd.ExcelFile('drive-download-20220302T205921Z-001/2016 DMD 1000 pre-class Assessment Survey (Responses).xlsx')
# xls6 = pd.ExcelFile('drive-download-20220302T205921Z-001/2015 DMD 1000 pre-class Assessment Survey (Responses).xlsx')


pd.set_option('display.max_rows', 50)

df1 = pd.read_excel(xls)
# df2 = pd.read_excel(xls1)
# df3 = pd.read_excel(xls2)
# df4 = pd.read_excel(xls3)
# df5 = pd.read_excel(xls4)
# df6 = pd.read_excel(xls5)
# df7 = pd.read_excel(xls6)
# df7.rename(columns = {"Username": "Email Address"}, inplace = True)


# frames = [df1, df2, df3, df4, df5, df6, df7]

# full_df = pd.concat(frames)
# full_df
# full_df.to_csv('assesmentfull.csv', encoding='utf-8', index=False)
# full_df.columns
# schoolsdf = full_df['Please list other universities you were accepted to and were considering in your application process:']
# schoolsdf.columns
# #schoolsdf['Please list other universities you were accepted to and were considering in your application process:'].str.split(',', expand=True)

# schoolsdf.to_csv('schools.csv', encoding='utf-8', index=False)
df1

,ID,Unnamed: 1,Name,Program and Plan,Level,NetID,Phone,Email Address,Section,Nickname,...,Rank your expertise in the following areas. [TIG Welding],Rank your expertise in the following areas. [Auto Repair],Rank your expertise in the following areas. [Astrophysics],Rank your expertise in the following areas. [Binary Math],Rank your expertise in the following areas. [Honey Badger Behavior],Rank your expertise in the following areas. [Quilting],Rank your expertise in the following areas. [Mountain Climbing],Rank your expertise in the following areas. [Deep Sea Diving],Rank your expertise in the following areas. [Underwater Basketweaving],Hitchhikers
0,2131154.0,3.0,"Albert,Shay Marie",DMD,Freshman,SMA13011,860/942-9035,SHAYLIN.ALBERT@UCONN.EDU,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Poor,42
1,2387279.0,6.0,"Bernardi,Noah C",DMD,Freshman,NCB15106,860/748-3419,NOAH.BERNARDI@UCONN.EDU,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Poor,infinity
2,2308373.0,2.0,"Bilmes,Isaac",DMD,Freshman,INB14001,860/803-0270,ISAAC.BILMES@UCONN.EDU,2.0,sack,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2422286.0,7.0,"Bollman,Sean P",DMD,Freshman,SPB15104,410/610-0480,SEAN.BOLLMAN@UCONN.EDU,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Poor,42
4,2436133.0,5.0,"Borges,Bruno B",DMD,Freshman,BRB16102,203/292-3573,BRUNO.BORGES@UCONN.EDU,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Poor,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Excellent,other
68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Excellent,42
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Poor,other
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Excellent,other
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Poor,42